/*
Theme Name: Rent - Obregón
Author: @ReynierNR
Version: 0.1
Description: Tema Hijo para Rent-Obregón
Template: tromax
Author URI: http://www.guebsite.com
*/

@import url(../tromax/style.css);


/*TIPOGRAFIAS*/

@font-face {
    font-family: 'istok_webregular';
    src: url(fonts/istokweb-regular-webfont.woff2) format('woff2'),
         url(fonts/istokweb-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansregular';
    src: url(fonts/opensans-regular-webfont.woff2) format('woff2'),
         url(fonts/opensans-regular-webfont.woff) format('woff');
    font-weight: normal;
    font-style: normal;

}
/*Títulos y parrafos*/

#primary-mono h1.entry-title {
    font-weight: bold;
    font-family: 'istok_webregular';
    font-size: 2.1em !important;
}

#primary-mono .entry-content {
    font-family: 'open_sansregular';
    font-size: 1.2em !important;
}

blockquote {
    font-style: italic;
}

.page-content, .entry-content, .entry-summary {
    margin: 0.7em 0 0;
}

.woocommerce div.product h1.product_title {
    padding-top: 0;
    font-family: 'istok_webregular';
    font-weight: bold;
}

/*Ocultamos la barra superior del Padre*/
#top-bar { display: none; }

/*logo*/

#masthead div.site-branding {
    padding: 40px 0px 40px 0px;
}



#site-logo img { width: 80%;}

/*Eliminar valoraciones Woocommerce*/

ul.tabs li.reviews_tab {
    display: none !important;
}


#masthead #text-title-desc {
  display:none;
}

header#masthead {
    text-align: left !important;
    background: transparent;
    
}

nav#site-navigation {
    background: #B7669E;
}

.main-navigation ul {
    background-color: transparent;
}

#site-navigation ul li a {
    padding: 10px 10px !important;
    color: white;
    font-size: 18px !important;
}

#site-navigation .fa {
    padding: 10px 5px 10px 0 !important;
}



/*responsive nav max width 600*/
.slicknav_menu {
    background: #1a1a1a;
    border-bottom: 1px white solid;
    text-align: center;
}

/*Ancho de l boton menu en mobile*/
.slicknav_btn {
    background: transparent !important;
    border: none !important;
    width: 100%;
    
}
/*posicion de las tres barras en mobile*/
span.slicknav_icon {
    float: right !important;
}

/*el color de fondo del boton menu en mobile*/
.slicknav_btn {
    background: transparent !important;
    float: right !important;
}

/*Relleno del texto menu en mobile*/
span.slicknav_menutxt {
    padding-left: 8px !important;
}
/* color de los botones en mobile*/
.slicknav_nav a {
    color: #ffffff !important;
}

/*fondo de botones de navegación en mobile*/
.slicknav_nav a:hover {
    background: #CCCED1 !important;
    color: black !important;
}

.slicknav_nav li {
    font-size: 1.2em;
    text-align: left;
    padding: 3px 0px;
    
}

.slicknav_nav li:hover {
    background: #CCCED1 !important;
    
}

/*sidebar*/
#secondary { padding-bottom: 30px;
             overflow: hidden;
}

/*Botones de Categorías*/


ul.product-categories li {
    border: none;
    margin: 6px 1% 6px 1%;
    height: 120px !important;
    width: 47%;
    float:left;
    border-radius: 10px;
    background: #B7669E;
    
}

/*Posicion del contador de Productos en cat*/

ul.product-categories li span.count { float:right;
                                      position: relative;
                                      top: -105px;
                                      right: 7px;
                                      color: #ffffff;}

ul.product-categories li a {  width: 100%;
                              display: block;
                              float: left;
                              height: 100%;
                              padding-top: 75%;
                              color: #f2f2f2 !important;
                              font-size: 0.9em;
                              text-align: center;}

/*Encabezados widget*/
#secondary h1.widget-title {
    text-align: center;
    font-size: 1.5em !important;
    margin-bottom: 12px !important;
}

.widget {
    margin: 0 0 0.2em !important;
}
/*YITH busqueda Rápida*/

div.yith-ajaxsearchform-container { text-align: center;
                                    height: 40px;}

#yith-searchsubmit { line-height: normal;
                     width: 80px;
                     height: 40px;
                     padding: 0.7em;
                     border: 1px solid #B7669E;
                     position: relative;
                     top: -1px;
                     left: -4px;
                     border-radius: 0px;
                     border-bottom-right-radius: 10px;
                     border-top-right-radius: 10px;
                     background-color: #B7669E !important;}

#yith-s { margin: 0px;
          line-height: normal;
          height: 40px;
          padding: 0.7em;
          background-color: transparent;
          border-radius: 0px;}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    background: transparent !important;
    box-shadow: none !important;
    color: rgba(0, 0, 0, .8);
    cursor: pointer;
    -webkit-appearance: button;
    text-shadow: none;
    color: white;
    font-weight: bold;
}


.autocomplete-suggestions {  margin-left: 6.5%;}

#secondary input[type="search"], #secondary textarea {
    background: #f2f2f2;
    border: solid 1px #B7669E !important;
    color: #777;
}

/* propiedades del fondo para todas las categorías */

ul.product-categories li.cat-item {   background-repeat: no-repeat;
                                      background-size: 50%;
                                      background-position: center 20px;}


/*Imágenes de fondo para las categorías*/

ul.product-categories li.cat-item-6 { background-image: url(imgcat/casaventa.png); }
ul.product-categories li.cat-item-7 { background-image: url(imgcat/casaenrenta.png); }
ul.product-categories li.cat-item-9 { background-image: url(imgcat/oficinarenta.png); }
ul.product-categories li.cat-item-10 { background-image: url(imgcat/oficinaenventa.png); }
ul.product-categories li.cat-item-11 { background-image: url(imgcat/terrenoenrenta.png); }
ul.product-categories li.cat-item-12 { background-image: url(imgcat/terrenoenventa.png); }

/*Compro, Rento y Vendo*/

#opciones h5 { text-align: center;
             font-family: 'istok_webregular';
             font-size: 3em;
             display:block;
             width: 60%;
             margin: 0px auto 0px auto !important;
             padding: 10px 0px 40px 0px;
             /*border-bottom: 1px solid black;*/
             color:black;
     }

/*#opciones h5.elegir { margin: 0px auto 30px auto;
                      padding: 0px 0px 30px 0px;
                      border-bottom: none;
                      font-size: 1em;
            }*/


#opciones { width: 100%;
            overflow: hidden;
            min-height: 20px;
            margin: 30px auto;
            padding: 0px 0px 80px 0px;
            border-top: 3px solid #9d588f;
            border-bottom: 3px solid #9d588f;
            background-color: #e0e0e0;}

.ajuste { width: 100%;
          height:150;}

.quiero { width: 75%;
          height: 150px;
          margin: 0px auto 30px auto;
          text-align: center;
          font-family: calibri;
          font-size: 1.3em;
          border-bottom-left-radius: 50px;
          border-bottom-right-radius: 50px;
          background-color: #9d588f; 
          }

#opciones a { width: 100%;
              height: 100%;
              text-decoration: none;
              color:#9d588f;
              display: block;
            
            }

#opciones h6 { display: block;
               width: 100%;
               height: 40px;
               padding: 5px 0 15px 0;
               margin: 0px;
               font-family: 'open_sansregular';
               font-size: 1.3em;
               background: white;
               border-bottom: 1px solid black;
               border-top: 1px solid black;
               }

.quiero a:active { color:#FFFFFF; }
.quiero p { font-size: 4em;
            font-family: 'istok_webregular';
            margin: 0px;
            color:#FFFFFF;
            }

/*Propiedades del Footer*/

#footer-sidebar {
    background: #5d5b5d !important;
    border-top: solid 3px #B7669E !important;
}

#colophon { background-color: #B7669E !important;}

#footer-sidebar .footer-column .widget a:hover {
    background: #CCCED1 !important;
}

/*MEDIA QUERIES*/

/*480 breakpoint*/
@media only screen and (min-width: 480px) {
    
    ul.product-categories li { height: 150px !important;}
    
    ul.product-categories li a { padding-top: 65%;
                                 font-size: 1em;}

 
ul.product-categories li span.count { top: -130px;
                                      right: 13px;}
    
.quiero { width: 60%; }    
    
}

/*600 breakpoint*/
@media only screen and (min-width: 600px) {
    
 ul.product-categories li { height: 200px !important;}    
 ul.product-categories li a { padding-top: 63%;
                                 font-size: 1.5em;}   
 
ul.product-categories li span.count { top: -178px;
                                      font-size: 1.5em;}

#secondary h1.widget-title {
    padding-bottom: 5px;
}  
    
#opciones { padding: 0px 0px 40px 0px;}    
    
#opciones div.rentar { border-bottom-left-radius: 0px; }
    
#opciones div.comprar { border-bottom-right-radius: 0px; }

.quiero { width: 95%;
           
          } 
    
.ajuste { width: 33.33%;
          float: left;}    
    
    
}

/*640 breakpoint*/
@media only screen and (min-width: 640px) {
    
 ul.product-categories li { height: 210px !important;}    
ul.product-categories li span.count { top: -190px;}
}



/*768 breakpoint*/
@media only screen and (min-width: 768px) {
    
 ul.product-categories li { width: 31%;
                             height: 180px !important;}    
ul.product-categories li span.count { top: -160px;}
    
 
 .quiero { width: 90%; }   
    
    
    #yith-s { width: 60%;}   
}



/*1024 breakpoint*/
@media only screen and (min-width: 1024px) {
    
#masthead div.site-branding {
    padding: 40px 0px 40px 30px !important;
}
    
ul.product-categories li { width: 48%;
                            height: 120px !important;}
    
ul.product-categories li a { padding-top: 70%;
                                 font-size: 0.9em;}
    
ul.product-categories li span.count { top: -105px;
                                      right: 5px;
                                      font-size: 0.9em;}
    

    
.quiero { width: 70%; }

#opciones div.rentar { margin-left: 30%;}
 
#opciones div.comprar { margin-right: 30%;}     
    
}

/*1280 breakpoint*/
@media only screen and (min-width: 1280px) {
    
 ul.product-categories li { width: 48%;
                            height: 145px !important;}
    
ul.product-categories li a { padding-top: 70%;
                                 font-size: 1.1em;}
    
ul.product-categories li span.count { top: -130px;
                                      right: 8px;
                                      font-size: 1.1em;}
    

    
.quiero { width: 60%; }  
    
#opciones div.rentar { margin-left: 40%;}
 
#opciones div.comprar { margin-right: 40%;}    
    
}

/*1366 breakpoint*/
@media only screen and (min-width: 1366px) {
    
 ul.product-categories li { width: 45%;
                            float: right;
                            height: 140px !important;}
    

ul.product-categories li span.count { top: -120px;
                                      right: 8px;
                                      font-size: 1.1em;}
}
